$gris-oscuro: #474544;
$gris-claro: #797979;
$azul-oscuro: #224c82; 
$azul-claro: #4b6ba2 ;
$violeta-oscuro: #643e8c;
$violeta-claro: #775a96;
$blanco: #FFFFFF;

$bg-header: #ffefe1;
$bg-footer: #D7E5FB;
$lista-hover: #afafaf;
$border-bottom: #929292;


